<%- include("partials/header") -%>

<h1>Home</h1>

   <p> <%= info1 %> </p>




<% newposts.forEach(function(post){ %>
    
        <h2><%= post.newTitle %></h2>
        <p><%= post.newPost.substring(0,100) + " ..." %>
        <a href="/post/<%= post.newTitle %>">Read More</a>
        </p> 
        

<%  }); %>



<%- include("partials/footer") -%>